*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1em;
  vertical-align: baseline;
}

::-moz-selection {
  background: #ccc;
  text-shadow: none;
}

::selection {
  background: #ccc;
  text-shadow: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

fieldset {
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

button,
input,
textarea,
input,
select {
  display: block;
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
  /*  10px  = 1rem (1em) */
}

/* Reapply the pointer cursor for anchor tags */

a,
button {
  cursor: revert;
}

/* removes spacing between cells in tables */

table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */

textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
  display:revert; revert to element instead of attribute */

:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
  - fix for the content editable attribute will work properly. */

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */

:where([draggable=true]) {
  -webkit-user-drag: element;
}

@font-face {
  font-family: "Magistral";
  src: url("../fonts/Magistral-Medium.woff2") format("woff2"), url("../fonts/Magistral-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Magistral";
  src: url("../fonts/Magistral-Bold.woff2") format("woff2"), url("../fonts/Magistral-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

:root {
  --main-fz: 62.5%;
  --ff-1: "Gilroy", sans-serif;
  --ff-2: "Magistral", sans-serif;
  --white: #fff;
  --container: 1210px;
  --clr-orange: #F0AF0A;
  --clr-black: #051022;
  --fz-8: 0.8rem;
  --fz-12: 1.2rem;
  --fz-14: 1.4rem;
  --fz-16: 1.6rem;
  --fz-18: 1.8rem;
  --fz-20: 2rem;
  --fz-24: 2.4rem;
  --fz-26: 2.6rem;
  --fz-28: 2.8rem;
  --fz-32: 3.2rem;
  --fz-40: 4rem;
  --fz-48: 4.8rem;
  --fz-56: 5.6rem;
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --i-lower: 10;
  --i-low: 20;
  --i-mid: 30;
  --i-high: 40;
  --i-top: 100;
}

html {
  font-size: var(--main-fz);
}

body {
  font-family: var(--ff-1);
  font-size: 1.6rem;
  font-weight: var(--fw-400);
  line-height: 1.2em;
  letter-spacing: 0.2px;
  color: var(--white);
  background-color: var(--clr-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
  align-content: start;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.8;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: var(--container);
  width: min(100% - 30px, 1210px);
  margin-inline: auto;
}

.title {
  margin-bottom: 5.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

h1 {
  font-family: var(--ff-2);
  font-size: var(--fz-48);
  color: var(--white);
}

h2 {
  font-size: var(--fz-48);
  font-style: italic;
  color: var(--white);
}

h3 {
  font-size: var(--fz-24);
}

p {
  line-height: 1.2em;
}

span {
  display: block;
  line-height: 1.2em;
}

section {
  padding: 7.5rem 0;
}

.btn {
  display: block;
  width: 100%;
  border-radius: 16px;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.1s linear;
}

.btn:hover {
  background-color: var(--crl-black);
  color: var(--white);
  border: 1px solid #D9D9D9;
}

.btn:active {
  transform: scale(0.95);
}

.burger__menu {
  display: none;
  width: 30px;
  height: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.burger__menu span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--clr-black-0);
  transition: all 0.3s ease;
}

.burger__menu:before,
.burger__menu:after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--clr-black-0);
  transition: all 0.3s ease;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

.burger__menu:before {
  top: 0;
}

.burger__menu:after {
  bottom: 0;
}

.burger__menu.active span {
  transform: scale(0);
}

.burger__menu.active::before,
.burger__menu.active::after {
  top: unset;
  bottom: unset;
  margin: auto;
}

.burger__menu.active:after {
  transform: rotate(45deg);
}

.burger__menu.active::before {
  transform: rotate(-45deg);
}

.main {
  max-width: 144rem;
  margin-inline: auto;
}

.hero {
  padding: 0;
  position: relative;
}

.hero__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.hero__inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -110px;
  z-index: var(--i-lower);
  background: url("../img/hero-img.png") no-repeat center/cover;
  width: 67rem;
  height: 88rem;
}

.hero__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/svg/icons/hero-icon.svg") no-repeat center/cover;
  width: 40px;
  height: 202px;
}

.hero__title {
  max-width: 61rem;
  margin-bottom: 2rem;
}

.hero__title span {
  color: var(--clr-orange);
  font-style: italic;
}

.hero__subtitle {
  font-family: var(--ff-2);
  text-transform: uppercase;
  font-size: var(--fz-28);
  letter-spacing: 0.2px;
  max-width: 42rem;
  color: var(--white);
  margin-bottom: 5rem;
  position: relative;
  z-index: var(--i-low);
}

.hero__btn {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  font-family: var(--ff-2);
  color: var(--white);
  font-size: var(--fz-28);
  font-weight: var(--fw-500);
  padding: 1.8rem 4.5rem;
  max-width: 38rem;
  border-radius: 8px;
  text-transform: uppercase;
  overflow: hidden;
}

.hero__btn::before,
.hero__btn::after {
  content: "";
  position: absolute;
  background-color: var(--clr-orange);
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
}

.hero__btn::before {
  bottom: -15px;
  left: -15px;
}

.hero__btn::after {
  top: -15px;
  right: -15px;
}

.opportunities__title {
  text-align: center;
}

.opportunities__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.opportunities__item {
  padding: 3rem 2.5rem;
  max-width: 38rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 15px;
}

.opportunities__icon {
  width: 100%;
}

.opportunities__heading {
  font-style: italic;
  margin-bottom: 1.5rem;
}

.opportunities__text {
  max-width: 29.5rem;
  margin-bottom: 3rem;
}

.program__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 7rem;
}

.program__item {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.program__item:not(:last-child) {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
  padding-bottom: 4rem;
}

.program__heading {
  font-style: italic;
  text-transform: uppercase;
}

.program__block {
  max-width: 58rem;
  width: 100%;
}

.program__block:first-child {
  min-width: 100%;
  max-width: 100%;
  padding: 2.5rem 5rem 2.5rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 15px;
}

.program__block:first-child .program__heading {
  color: var(--clr-orange);
  text-shadow: 0px 0px 15px rgba(240, 176, 11, 0.4);
  margin-bottom: 1.5rem;
}

.program__block:first-child .program__descr {
  text-transform: uppercase;
  font-size: var(--fz-26);
  line-height: 1.35em;
  font-weight: var(--fw-700);
  max-width: 67rem;
  margin-bottom: 1.6rem;
}

.program__block:first-child svg {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 24rem;
  width: 100%;
}

.program__block:nth-child(2) {
  background-color: var(--clr-orange);
  border-radius: 15px;
  padding: 3rem;
}

.program__block:nth-child(2) .program__heading {
  margin-bottom: 1.5rem;
}

.program__block:nth-child(2) .program__text {
  font-size: var(--fz-18);
  font-weight: var(--fw-500);
  line-height: 1.3em;
}

.program__block:last-child {
  border: 1px solid var(--clr-orange);
  border-radius: 15px;
  padding: 4rem 3rem;
}

.program__block:last-child .program__heading {
  margin-bottom: 2.5rem;
}

.program__block:last-child .program__bonuses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.program__block:last-child .program__bonus {
  counter-increment: my-counter;
  max-width: 25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: var(--fw-600);
  font-style: italic;
  align-self: center;
  line-height: 1.3em;
  align-self: center;
  padding-left: 3.5rem;
  position: relative;
}

.program__block:last-child .program__bonus::before {
  position: absolute;
  content: counter(my-counter);
  text-shadow: 0px 0px 10px var(--clr-orange);
  color: var(--clr-orange);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: auto;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  padding: 6px;
}

.program__btn {
  margin-inline: auto;
  background-color: var(--clr-orange);
  text-transform: none;
  font-size: var(--fz-32);
  font-weight: var(--fw-600);
  max-width: 44.5rem;
  padding: 1.7rem 2rem;
}

.result__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.result__item {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 2.5rem 3.5rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 16px;
}

.result__img {
  max-width: 14.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.result__heading {
  max-width: 66.5rem;
  margin-bottom: 1.3rem;
  font-size: var(--fz-32);
  font-style: italic;
}

.result__text {
  text-transform: uppercase;
  line-height: 1.3em;
}

.bonus__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 12rem;
}

.bonus__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 28rem;
  height: 330px;
  width: 100%;
  padding: 4rem 2.7rem 3rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 15px;
}

.bonus__item:nth-child(even) {
  transform: translateY(45px);
}

.bonus__item svg {
  width: 56px;
  height: 56px;
}

.bonus__icon {
  width: 120px;
  height: 120px;
  border-radius: 100vmax;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bonus__name {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: auto;
}

.bonus__text {
  text-align: center;
}

.bonus__btn {
  background-color: var(--clr-orange);
  font-size: var(--fz-32);
  font-weight: var(--fw-600);
  max-width: 44.5rem;
  padding: 1.7rem 2rem;
  margin-inline: auto;
}

.advantages__title {
  margin-bottom: 2.5rem;
}

.advantages__subtitle {
  max-width: 55rem;
  margin-bottom: 2.4rem;
  font-size: var(--fz-24);
  color: var(--white);
  opacity: 0.8;
}

.advantages__text {
  font-family: var(--ff-2);
  font-size: var(--fz-32);
  font-weight: var(--fw-500);
  font-style: italic;
  color: var(--clr-orange);
  margin-bottom: 5.5rem;
  opacity: 0.8;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.advantages__list::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 30px;
  background-color: var(--clr-orange);
  border-radius: 16px;
  width: 19.5rem;
  height: 66.8rem;
}

.advantages__item {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(45px);
          backdrop-filter: blur(45px);
  display: flex;
  align-items: center;
  gap: 3.5rem;
  padding: 2.8rem;
  text-transform: uppercase;
  font-size: var(--fz-32);
  font-weight: var(--fw-700);
  line-height: 1.3em;
}

.advantages__item svg {
  height: 78px;
  max-width: 120px;
  width: 100%;
}

.author {
  position: relative;
}

.author__title {
  margin-bottom: 7rem;
}

.author__inner {
  display: flex;
  align-items: center;
}

.author__list {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem 4.5rem;
  max-width: 64rem;
}

.author__item {
  max-width: 29rem;
  width: 100%;
}

.author__nums {
  font-size: var(--fz-56);
  font-weight: var(--fw-700);
  color: var(--clr-orange);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.author__descr {
  font-size: var(--fz-24);
  font-weight: var(--fw-700);
}

.author__img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 74.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.faq {
  position: relative;
}

.faq__title {
  text-align: center;
}

.faq__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8.5rem;
  margin-bottom: 5rem;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.faq__item {
  display: flex;
  flex-direction: column;
  padding: 3rem 7rem 3rem 3rem;
  max-width: 68rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 15px;
  font-weight: var(--fw-600);
  cursor: pointer;
  position: relative;
}

.faq__item::before,
.faq__item::after {
  content: "";
  position: absolute;
  background-color: var(--clr-orange);
  transition: 0.3s linear;
  border-radius: 100vmax;
}

.faq__item::before {
  top: 42px;
  right: 40px;
  width: 30px;
  height: 3px;
}

.faq__item::after {
  top: 28px;
  right: 54px;
  width: 3px;
  height: 30px;
}

.faq__item.active::after {
  transform: rotate(90deg) scale(0);
}

.faq__item.active .faq__questions {
  margin-bottom: 1.5rem;
}

.faq__item.active .faq__answer {
  height: 100%;
  opacity: 1;
}

.faq__questions {
  text-transform: uppercase;
  font-size: var(--fz-20);
  font-weight: var(--fw-600);
  transition: 0.3s linear;
}

.faq__answer {
  height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.faq__img {
  position: absolute;
  top: -10px;
  right: 0;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 41.5rem;
}

.faq__btn {
  font-size: var(--fz-32);
  font-weight: var(--fw-600);
  margin-inline: auto;
  max-width: 44.5rem;
  padding: 1.7rem 2rem;
  background-color: var(--clr-orange);
}

.footer {
  border-top: 1px solid #9e9e9e;
  padding: 5rem 0 8rem;
  color: var(--white);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapp {
  display: flex;
  flex-direction: column;
  font-weight: var(--fw-500);
}

.footer__wrapp:last-child {
  align-items: flex-end;
}

.footer__name {
  margin-bottom: 4rem;
  font-size: var(--fz-40);
  font-weight: var(--fw-800);
}

.footer__info {
  margin-bottom: 0.8rem;
}

.footer__info-link:first-of-type {
  margin-right: 2.5rem;
}

.footer__info-link:hover {
  text-decoration: underline;
}

.footer__list {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.footer__link svg {
  width: 24px;
  height: 24px;
}

.footer__phone {
  font-weight: var(--fw-500);
  margin-bottom: 0.8rem;
}

@media (max-width: 1199.98px) {
  :root {
    --fz-8: 0.8rem;
    --fz-12: 1.2rem;
    --fz-14: 1.4rem;
    --fz-16: 1.6rem;
    --fz-18: 1.8rem;
    --fz-20: 2rem;
    --fz-24: 2.4rem;
    --fz-26: 2.6rem;
    --fz-28: 2.6rem;
    --fz-32: 3.2rem;
    --fz-40: 3.8rem;
    --fz-48: 4.4rem;
    --fz-56: 5.2rem;
    --container: 1140px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --fz-8: 0.8rem;
    --fz-12: 1.2rem;
    --fz-14: 1.4rem;
    --fz-16: 1.6rem;
    --fz-18: 1.8rem;
    --fz-20: 1.8rem;
    --fz-24: 2.4rem;
    --fz-26: 2.6rem;
    --fz-28: 2.8rem;
    --fz-32: 3rem;
    --fz-40: 3.6rem;
    --fz-48: 4.2rem;
    --fz-56: 4.8rem;
    --container: 960px;
  }

  .burger__menu {
    display: flex;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    background-color: var(--white);
    transition-duration: 0.25s;
    padding: 50px 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
  }

  .nav__list {
    flex-direction: column;
    color: var(--white);
  }

  .nav.active {
    visibility: visible;
    left: 0;
  }

  .nav__link {
    transition-duration: 0.25s;
  }
}

@media (max-width: 767.98px) {
  :root {
    --fz-8: 0.8rem;
    --fz-12: 1.2rem;
    --fz-14: 1.4rem;
    --fz-16: 1.6rem;
    --fz-18: 1.8rem;
    --fz-20: 1.8rem;
    --fz-24: 2.2rem;
    --fz-26: 2.4rem;
    --fz-28: 2.6rem;
    --fz-32: 3rem;
    --fz-40: 3.2rem;
    --fz-48: 3.6rem;
    --fz-56: 4.2rem;
    --container: 720px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --fz-8: 0.8rem;
    --fz-12: 1.2rem;
    --fz-14: 1.4rem;
    --fz-16: 1.6rem;
    --fz-18: 1.8rem;
    --fz-20: 2rem;
    --fz-24: 2.2rem;
    --fz-26: 2.6rem;
    --fz-28: 2.4rem;
    --fz-32: 2.8rem;
    --fz-40: 3rem;
    --fz-48: 3.2rem;
    --fz-56: 3.8rem;
    --container: 540px;
  }
}

@media (max-width: 480.98px) {
  :root {
    --fz-8: 0.8rem;
    --fz-12: 1.2rem;
    --fz-14: 1.4rem;
    --fz-16: 1.6rem;
    --fz-18: 1.8rem;
    --fz-20: 2rem;
    --fz-24: 2rem;
    --fz-26: 2.6rem;
    --fz-28: 2.2rem;
    --fz-32: 2.6rem;
    --fz-40: 2.8rem;
    --fz-48: 3rem;
    --fz-56: 3.4rem;
    --container: 100%;
  }
}

@media (max-width: 375.98px) {
  :root {
    --fz-8: 0.8rem;
    --fz-12: 1.2rem;
    --fz-14: 1.4rem;
    --fz-16: 1.6rem;
    --fz-18: 1.8rem;
    --fz-20: 2rem;
    --fz-24: 2rem;
    --fz-26: 2.6rem;
    --fz-28: 2.2rem;
    --fz-32: 2.4rem;
    --fz-40: 2.6rem;
    --fz-48: 2.8rem;
    --fz-56: 3rem;
  }

  .btn {
    max-width: 100%;
  }
}